.navbar-item.is-active {
  color: #00D1B2 !important;
}

.no-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  color: #b5b5b5;
}

.is-favorite {
  color: #FFDD57;
}

.column > .column-fill-card,
.column > .column-fill-card-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.column-fill-card > .card,
.column-fill-card-content > .card-content {
  flex: 1;
}

.card .columns,
.card figure.image,
.card figure.image > .no-image-holder {
  height: 100%;
}

.no-image-holder {
  padding: 3rem 0;
}

.card-title {
  padding: 1.5rem;
  padding-bottom: 0;
}

.card-title + .card-content {
  padding: 1.5rem;
  padding-top: 1rem;
}

.description {
  font-size: 0.85rem;
}