.navbar-item.is-active {
  color: #00D1B2 !important;
}

.no-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  color: #b5b5b5;
}

.is-favorite {
  color: #FFDD57;
}
